body{
  background-color: #212211;
  margin: 0;
  font-family: "Montserrat" "Avenir";

}
.square{
  width: 30%;
  background-color: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 13%;
  transition: background 0.5s;
  --webkit-transition: background 0.5s;
  --moz-transition: background 0.5s;
}

#container{
  width: 650px;
  align-content: center;
  margin: 20px auto;
}

h1
{
  color: white;
  line-height: 1.1;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-family: cursive;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.5s;
  --webkit-transition: all 0.5s;
  --moz-transition: all 0.5s;
  outline: none;
}
button:hover{
  color: white;
  background: steelblue;
}
.spe{
  text-align: center;

}
#gameStatus{
  text-decoration-style: solid;
}
#colorDisplay{
  font-size: 200%;
}
#spe{
  background-color: white;
  height: :30px;
  text-align: center;
  color: black;
}
.selected{
  color: white;
  background: steelblue;
}
#gameStatus{
  display: inline-block;
  width: 20%;
  color: red;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  font-style: oblique;
}
